   Container(
                           padding: EdgeInsets.all(16.w),
                           width: constraints.maxWidth,
                           decoration: BoxDecoration(
                             gradient: const LinearGradient(
                               colors: [
                                 Color(0xFFFFF4EE),
                                 Color(0xFFFFE0CC),
                               ],
                             ),
                             borderRadius: BorderRadius.circular(12.r),
                             border: Border.all(
                               color: Colors.orange.shade100,
                               width: 2.w,
                             ),

                             boxShadow: [
                               BoxShadow(
                                 color: Colors.black12,
                                 blurRadius: 4,
                                 offset: Offset(0, 2),
                               ),
                             ],
                           ),
                           child: Column(
                             crossAxisAlignment: CrossAxisAlignment.start,
                             children: [
                               const Text(
                                 'Type of Medication',
                                 style: TextStyle(
                                   fontSize: 18,
                                   fontWeight: FontWeight.bold,
                                 ),
                               ),
                               SizedBox(height: 8.h),
                               Row(
                                 children: [
                                   Expanded(
                                     child: buildOption(
                                       type: MedicineType.capsule,
                                       assetName:
                                           'assets/icons/capsule.png',
                                       label: 'Capsule',
                                       selected: _selected,
                                       onSelect: (t) => setState(() => _selected = t),
                                     ),
                                   ),
                                   const SizedBox(width: 8),
                                   Expanded(
                                     child: buildOption(
                                       type: MedicineType.tablet,
                                       assetName:
                                           'assets/icons/tablet.png',
                                       label: 'Tablet',
                                       selected: _selected,
                                       onSelect: (t) => setState(() => _selected = t),
                                     ),
                                   ),
                                   const SizedBox(width: 8),
                                   Expanded(
                                     child: buildOption(
                                       type: MedicineType.injection,
                                       assetName:
                                           'assets/icons/injection.png',
                                       label: 'Injection',
                                       selected: _selected,
                                       onSelect: (t) => setState(() => _selected = t),
                                     ),
                                   ),
                                   const SizedBox(width: 8),
                                   Expanded(
                                     child: buildOption(
                                       type: MedicineType.cream,
                                       assetName: 'assets/icons/cream.png',
                                       label: 'Cream',
                                       selected: _selected,
                                       onSelect: (t) => setState(() => _selected = t),
                                     ),
                                   ),
                                 ],
                               ),
                             ],
                           ),
                         ),